# arch/csky/gx3xxx/Kconfig
#
# Copyright (C) 2011, NationaChip Co., Ltd. (www.nationalchp.com) 
#
# Licensed under GPLv2

if GX3XXX

config BOOTPARAM
    bool "Compiled-in Kernel Boot Parameter"
    default y

config BOOTPARAM_STRING
    string "Kernel Boot Parameter"
    default "mem=32m"
    depends on BOOTPARAM

endif
